Source: aprs-symbols
Section: hamradio
Priority: optional
Maintainer: Jakob Ketterl <jakob.ketterl@gmx.de>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Vcs-Browser: https://github.com/hessu/aprs-symbols
Vcs-Git: https://github.com/hessu/aprs-symbols.git

Package: aprs-symbols
Architecture: all
Depends: ${misc:Depends}
Description: aprs.fi APRS symbol set, high-resolution, vector
 This is a new APRS symbol graphics set, which can be used by any APRS
 applications, for free. I've assembled it in an effort to make aprs.fi
 look better on modern high-resolution displays, including Retina and 4K
 displays. It is released to the APRS community on 2015-12-03 to celebrate
 the release of the aprs.fi iPhone/iPad app.
